* {
  margin: auto;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

head title {
  font-size: 75px;
}

#navBar {
  padding: 5px 15px;
  background-color: #90A52F;
  color: #F6ECE2;
  
}

nav ul li {
  font-size: 75px;
  text-decoration: underline;
  font-weight: bold;
}

.apiContainer {
  margin-left: -100px;
  margin-right: 100px;
  margin-top: 10px;
  justify-content: left;
  border-color: black;
}

#searchBtn {
  background-color: #FE8932;
}

#toMake {
  background-color: #D7E4EA;
  color: black;
  text-align: center;
  /* margin: 5px 0px; */
}

#favorites {
  background-color: #D7E4EA;
  color: black;
  text-align: center;
  margin: 5px 0px;
}

.ingredients {
  background-color: #D7E4EA;
  color: black;
  text-align: center;
}

.card-title {
  font-weight: bold;
}

.card-panel {
  background-color: #D7E4EA;
  color: black;
  text-align: center;
}

.background-img {
  margin: auto 15px auto 25px;
  opacity: 50%;
}

